@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
    margin-bottom: 1em;
}
.navbar-brand .navbar-item {
    margin-left: 2em;
}
.stud {
    font-size: 1.4em;
    font-style: bold;
}
.io {
    font-size: .8em;
}
.main{
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.gambiarra-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
}
.required {
    color: #F00;
    font-size: 16px;
}
tr {
    margin-top: .5em;
    margin-bottom: .5em;
}
td{
    padding: .3em;
}
td input{
    margin-right: .5em;
}
tr td button {
    margin: .5em;
}
.submit {
    font-size: 1.3em;

}
.footer {
   position:relative;
   bottom:0;
   width:100%;
   max-height: 60px;
   background:#6cf;
   margin-top: auto;
}
.alert-message {
    font-size: 4em;
    font-style: bold;
}
.navbar-end {
    margin-right: 25%;
}
.navbar-item {
    padding-right: 2em;
    padding-left: 2em;
}
.controle th, .controle tr{
    border: 1px solid #000;
    padding: .7em;
}
.section-title {
    font-size: 1.4em;
    font-style: bold;
}
.super-gambiarra {
    margin-left: 30%;
}
.spacing {
    margin-left: 1em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.informativo {
  display: flex;
  flex-direction: column;
}

.sobre-main, #comecar-estudos, #controle-estudos {
  display: block;
  margin-bottom: 30px;
}

.sobre-title{
  font-size: 1.6em;
  font-weight: bold;
}

.sobre-subtitle{
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.image{
  max-width: 700px;
  max-height: 500px;
  border: .5px solid #000;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(182, 182, 182); /* Add a dark-grey background on hover */
}
